meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1")
link(rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css")
script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
script(type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8')
script(type='text/javascript' src='/js/lib/zepto.touch.js' charset='utf-8')
script(type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8')
script(type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8')