/*内容*/
.content {
    padding-bottom: 3rem;
}

/*底部工具栏*/
.bar-big {
    height: 3.0rem;
}
.bar-fix {
    position: fixed;
    bottom: 0;
    left: 0;
}

/*卡片*/
.card img {
    width: 100%;
    height: auto;
}
.h-center {
    height: 48px;
    line-height: 48px;
    text-align: center;
}